@page
@model PrivacyModel
@{
    ViewData["Title"] = "Information";
}

<style>
    
    h1{text-align:center;color:darkblue}
    h2{text-align:center}
    h3{text-align:center}
    p{text-align:center}
</style>

<h1>@ViewData["Title"]</h1>

<h2> <b> Booking information </h2>

       <p style="color:red">
           <b>Facilities:</b> 4 facilities(Bowling, Swimming, Laser Tag, Party rooms)<br>
           <b>Facilities buildings(3):</b> Gaming block includes Laser Tag and Bowling <br>
           <b>Amenties block:</b> Includes swimming pools for kids and adults<br>
           <b>Party-block:</b> 3 floors with 2 rooms on each floor<br/>

        </p>

<h3><b>BOOKING EXPERIENCE AND RULES</b></h3>
     
    <p style="color:red">
              
        1.The gaming block operates from 10 AM to 7 PM.<br>
        2.The amenities block operates from 8 AM to 8 PM.<br>
        3.Party rooms within the party block are available for reservation from 7 AM to 11 PM.<br>
        4.The pools are available for party reservations.<br>
        5.Children aged 1 to 8 are the only ones allowed to use the kids pool.<br> 
        6.Kids pools require adult supervision on a basis of one to three.<br>
        7.It is permissible to rent an adult pool with adult supervision for individuals aged nine and older.<br>
        8.Both pools are available for party reservations.<br>
        9.Reservations have to be booked up to three weeks in advance, but not prior to that timeframe.<br>
   </p>

 
