html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  
}


body {
  margin-bottom: 0px;
}
main{
    margin-right: 20px;
    margin-left: 20px;
}

  
    







.navbar ul{
    list-style-type:none;
    background-color:deeppink;
    padding:0px;
    margin:0px;
    overflow:hidden;
}

.navbar a {
    color: lightpink;
    text-decoration: none;
    padding: 2px;
    display: block;
    text-align:center;


}
.navbar a:hover{
    background-color: lightgoldenrodyellow;
=======
    margin-bottom: 60px;



    background-color: red;
}

h1 {
    color: purple;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;

p {
    color: red;

}

body {
    background-image: url("ANDREW.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}




}
.header {
    top:0;
    left:0;
    width:auto;
    padding:1.3rem 10%;
    background:radial-gradient(0, 0, 0, .1);
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.navbar {
    font-display: auto;
    color:peru;
    text-decoration: blink;
    flow-from: inherit;

}

