html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

main {
    margin-right: 20px;
    margin-left: 20px;
}

footer {
    position: absolute;
    bottom: 100%;
    width: 100%;
    height: 0px;
    background: white;
}

    footer social media {
        position: fixed;
        bottom: auto;
        left: auto;
    }

.logo-image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
    color: #000000;
}

body {
    text-align: right;
    color: #6a9208;
    background-image: url('BG IMG rr.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title-color {
    color: blue;
}

.subtitle-color {
    color: darkred;
}

.label-color {
    color: green;
}

.value-color {
    color: purple;
}

.link-color {
    color: orange;
}

.back-link-color {
    color: red;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

    .table th {
        background-color: #007bff;
        color: white;
        padding: 12px 15px;
        font-size: 20px;
        text-transform: uppercase;
    }

    .table td {
        padding: 12px 15px;
        border-bottom: 1px solid #ddd;
    }

    .table tr:nth-child(even) {
        background-color: #f1f1f1;
    }

    .table tr:nth-child(odd) {
        background-color: #ffffff;
    }

    .table tr:hover {
        background-color: #e9ecef;
        cursor: pointer;
    }

    .table td:first-child {
        font-weight: bold;
        color: #007bff;
    }

    .table a {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
    }

        .table a:hover {
            text-decoration: underline;
        }

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

    .fill video {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%
    }

body {
    color: blue;
}

h1 {
    color: white;
}

div {
    color: white;
}
