html {
  font-size: 100%;
}

@media (min-width: 100%) {
  html {
    font-size:50%;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position:relative;
  min-height:100%;
  
}

body {
  margin-bottom: 100%;
}
main{
    margin-right: 100%;
    margin-left: 100%;
}
 
.navbar ul{
    list-style-type: none;
    padding:0%;
    margin:0%;
    
    
}

.navbar a {
    color: none;
    text-decoration: auto;
    padding: 0%;
    display: block;
    text-align:left;


}
.navbar a:hover{
    margin-bottom: 50%;
    background-color: yellow;

}

h1 {
    color: purple;
    text-align:center;
}

p {
    color: red;
   

}

body {
    background-image: url("ANDREW.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.header {
    top:0;
    left:0;
    width:auto;
    padding:1.3rem 10%;
    background:radial-gradient(0, 0, 0, .1);
    justify-content: space-between;
    align-items: center;
    

}



.navbar{
    background-image: url("Logo.ico");
    background-repeat:no-repeat;
    background-attachment:local;
    background-position:left;
    background-size:5%;


}
.navbar{
    background-origin: border-box;
    background-color:rebeccapurple;
    


}
