@page
@model UltimateFunCenter.Pages.Floors.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Floor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Floor.Id" />
            <div class="form-group">
                <label asp-for="Floor.Level" class="control-label"></label>
                <input asp-for="Floor.Level" class="form-control" />
                <span asp-validation-for="Floor.Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Floor.BuildingId" class="control-label"></label>
                <select asp-for="Floor.BuildingId" class="form-control" asp-items="ViewBag.BuildingId"></select>
                <span asp-validation-for="Floor.BuildingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

